<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../static/script.js"></script>
</script>
</head>

<body>
    <h1>Emotion Classification</h1>
    <p><b>Enter a tweet</b></p>
    <input id="user-input" placeholder="Tweet to be classified"></input>
    <p>Does this tweet contain emotion-anger?</p>
    <p id="result1"></p>
    <p>Does this tweet contain emotion-disgust?</p>
    <p id="result2"></p>
    <p>Does this tweet contain emotion-happy?</p>
    <p id="result3"></p>
    <p>Does this tweet contain emotion-sad?</p>
    <p id="result4"></p>
    <p>Does this tweet contain emotion-surprise?</p>
    <p id="result5"></p>
    <button id="submit">Submit</button>
</body>
</html>